# Importing Data

### Merging 12 months of sales data into a single dataframe

In [6]:
import pandas as pd
import numpy as np
import glob
import os
path = r'D:\csv'
all_files = glob.glob('./Sales_Data' + "/*.csv")
df = pd.concat(map(pd.read_csv, all_files))
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
13617,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
13618,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
13619,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
13620,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
13621,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

## Clean Data

### 1. Drop NA values

In [7]:
df.dropna()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1,1700,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1,600.0,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
13617,222905,AAA Batteries (4-pack),1,2.99,06/07/19 19:02,"795 Pine St, Boston, MA 02215"
13618,222906,27in FHD Monitor,1,149.99,06/01/19 19:29,"495 North St, New York City, NY 10001"
13619,222907,USB-C Charging Cable,1,11.95,06/22/19 18:57,"319 Ridge St, San Francisco, CA 94016"
13620,222908,USB-C Charging Cable,1,11.95,06/26/19 18:35,"916 Main St, San Francisco, CA 94016"
13621,222909,AAA Batteries (4-pack),1,2.99,06/25/19 14:33,"209 11th St, Atlanta, GA 30301"

### 2. Check if there are NA Values

In [13]:
df.isna()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
...,...,...,...,...,...,...
13617,False,False,False,False,False,False
13618,False,False,False,False,False,False
13619,False,False,False,False,False,False
13620,False,False,False,False,False,False
13621,False,False,False,False,False,False

### 3. Convert columns to correct type

In [44]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered']) # make int
df['Price Each'] = pd.to_numeric(df['Price Each']) # make float

### 4. Drop insignificant rows (values the same as the field names)

In [43]:
df.head(256) # Look at row 254 how the values are the same as the Field names

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,295665,Macbook Pro Laptop,1.0,1700.00,12/30/19 00:01,"136 Church St, New York City, NY 10001"
1,295666,LG Washing Machine,1.0,600.00,12/29/19 07:03,"562 2nd St, New York City, NY 10001"
2,295667,USB-C Charging Cable,1.0,11.95,12/12/19 18:21,"277 Main St, New York City, NY 10001"
3,295668,27in FHD Monitor,1.0,149.99,12/22/19 15:13,"410 6th St, San Francisco, CA 94016"
4,295669,USB-C Charging Cable,1.0,11.95,12/18/19 12:38,"43 Hill St, Atlanta, GA 30301"
...,...,...,...,...,...,...
251,295899,USB-C Charging Cable,1.0,11.95,12/13/19 16:44,"722 Spruce St, Seattle, WA 98101"
252,295900,AA Batteries (4-pack),1.0,3.84,12/27/19 18:56,"283 Washington St, Boston, MA 02215"
253,295901,20in Monitor,1.0,109.99,12/05/19 20:02,"67 12th St, San Francisco, CA 94016"
255,295902,AA Batteries (4-pack),2.0,3.84,12/26/19 21:54,"160 Maple St, Austin, TX 73301"
256,295903,AA Batteries (4-pack),1.0,3.84,12/21/19 13:40,"337 12th St, Dallas, TX 75001"

In [42]:
df = df[df['Quantity Ordered'] != 'Quantity Ordered']

## Augment Data with more columns

### 1. Add month column

### 2. Add a sales column

In [50]:
df['Sales'] = df['Quantity Ordered'] * df['Price Each']

#### Question 1: What was the best month for sales? How much was earned that month?